* {
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: white;
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
    font-family: 'Poppins', sans-serif;
}

.navbar{
    width: 86%;
    padding: 15px 0;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    
}

.navbar.logo{
    width: 160px;
    cursor: pointer;
    margin-top: -3%;
    margin-left: -2%;
}

ul{
    margin-top: -4%;
}

ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 16px;
}

